@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

body {
    background-color: #f5f3f3;
}

.header {
    min-height: 80px;
    width: 100%;
    background: whitesmoke;
    position: relative;
    color: black;
    position: sticky;
    left: 0;
    top: 0;
}

nav h2 {
    color: black;
    margin-left: 60px;
}

nav {
    display: flex;
    padding: 20px;
    justify-content: space-between;
    text-align: center;
}

.nav-links {
    flex: 1;
    text-align: center;
}

.nav-links ul {
    margin-right: 100px;
}

.nav-links ul li {
    list-style: none; /* so theyll be no bullets */
    display: inline-block; /* so itll display horizontally*/
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    color: black;
    text-decoration: none;
    font-size: 15px;
    font-weight: 510;
}

.nav-links ul li::after {
    /*the after is used to add a horizontal line under the list*/
    content: "";
    width: 0%;
    height: 2px;
    background: #5eb6c2;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

.hero-btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 0 15px;
    font-size: 15px;
    font-weight: 510;
    background-color: #1d818c;
    position: relative;
    height: 32px;
    line-height: 32px;
    width: auto;
    cursor: pointer;
}

.hero-btn:hover {
    border: 1px solid #8ce89f;
    background: #8ce89f;
    transition: 1s;
}

/* Registration form */

.form-container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background: #eee;
}

.form-container form {
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
    background: #fff;
    text-align: center;
    width: 500px;
    margin-bottom: 250px;
}

.form-container form h3 {
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: #333;
}

.form-container form input,
.form-container form select {
    width: 100%;
    padding: 10px 15px;
    font-size: 17px;
    margin: 8px 0;
    background: #eee;
    border-radius: 5px;
}

.form-container form select option {
    background: #fff;
}

.form-container form .form-btn {
    background: #1d818c;
    color: #fff;
    text-transform: capitalize;
    font-size: 20px;
    cursor: pointer;
}

.form-container form .form-btn:hover {
    background: #57a669;
    color: #fff;
}

.form-container form p {
    margin-top: 10px;
    font-size: 20px;
    color: #333;
}

.form-container form p a {
    color: #1cafc0;
    text-transform: capitalize;
}

.form-container form .error-msg {
    margin: 10px 0;
    display: block;
    background: crimson;
    color: #fff;
    border-radius: 5px;
    font-size: 20px;
    padding: 10px;
}

.footer {
    background-color: #070b0b;
    padding: 20px 0;
    margin-top: auto;
    position:  unset;
    left: 0;
    bottom: 0;
    /* margin-bottom: 900px; */
    /* position: fixed; */
}

.footer .container {
    max-width: 1000px;
    margin: auto;
}

.footer .row {
    display: flex;
    flex-wrap: wrap;
}

.footer ul {
    list-style: none;
}

.footer-col {
    width: 25%;
    padding: auto;
}

.footer h3 {
    color: #E3E0F3;
    padding: 20px;
}

.footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #00c89b;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
}

.footer-col .social-links a {
    display: inline-block;
    height: 45px;
    width: 45px;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #00c89b;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: #ffffff;
    padding-top: 8px;
}