.offcanvas-body ul li::after {
  /*the after is used to add a horizontal line under the list*/
  content: '';
  width: 0%;
  height: 2px;
  background: #388994;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.offcanvas-body ul li:hover::after {
  width: 100%;
}

.offcanvas-body {
  font-size: 15px;
  font-weight: 510;
}

.offcanvas-title {
  font-size: 15px;
  font-weight: 700;
}