/* @import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities"; */



.navs {
    @apply relative ml-10 tracking-[1px] hover:text-white
}

.navs::after {
    @apply content-[''] bg-[#1d818c] h-[3px] w-[0%] left-0 -bottom-[5px] rounded-xl absolute duration-300
}

.navs:hover::after {
    @apply w-[100%]
}

@layer components {
    .payment-content {
        @apply flex items-center sm:justify-center p-5 pr-16 sm:p-8 gap-5 h-24 sm:h-40 w-full bg-white border-2 border-gray-200 rounded-md transition peer-checked:border-blue-500 peer-checked:shadow-lg peer-checked:-translate-y-1
    }

    .payment-image {
        @apply w-20 h16 sm:w-full sm:h-full object-center
    }

    .payment-text {
        @apply static sm:absolute top-full sm:mt-1 text-center text-lg sm:text-xl w-auto sm:w-full opacity-70 font-medium
    }

    .payment-checked {
        @apply absolute top-1/2 sm:-top-4 right-6 sm:-right-3 -translate-y-1/2 sm:translate-y-0 -m-1 bg-blue-500 text-white h-8 w-8 p-0.5 rounded-full transition peer-checked:scale-100 scale-0
    }
}

/* .navs{
    @apply  cursor-pointer
    transition-all
    duration-500
    before:content-['']
    before:absolute
    before:-bottom-2
    before:left-0
    before:w-0
    before:h-1.5
    before:rounded-full
    before:opacity-0
    before:transition-all
    before:duration-500
    before:bg-gradient-to-r
    before:from-gray-600
    before:via-slate-400
    before:to-zinc-500
    hover:before:w-full
    hover:before:opacity-100
} */